header {
	height: 135px;
}
*{
	margin: 0px;
	padding: 0px;
}
body{
	 
    background-color: #0652DD;
	font-family: Optima, sans-serif, Andale Mono, arial;
 }

.container {
	position: fixed;
	background: rgba(6,82,221,1);
	background: -moz-linear-gradient(left, rgba(6,82,221,1) 0%, rgba(41,184,229,1) 50%, rgba(41,184,229,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(6,82,221,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(41,184,229,1)));
	background: -webkit-linear-gradient(left, rgba(6,82,221,1) 0%, rgba(41,184,229,1) 50%, rgba(41,184,229,1) 100%);
	background: -o-linear-gradient(left, rgba(6,82,221,1) 0%, rgba(41,184,229,1) 50%, rgba(41,184,229,1) 100%);
	background: -ms-linear-gradient(left, rgba(6,82,221,1) 0%, rgba(41,184,229,1) 50%, rgba(41,184,229,1) 100%);
	background: linear-gradient(to right, rgba(6,82,221,1) 0%, rgba(41,184,229,1) 50%, rgba(41,184,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0652dd', endColorstr='#29b8e5', GradientType=1 );
	width: 100%;
-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.52);
-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.52);
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.52);
}

#logo{
    
    padding:20px 0px 20px 100px;
	float: left;
}

#logoB{    
    padding:20px 0px 20px 100px;
	float: left;}
#logoB img{
	width: 100px;
}

#logo img{ 
	width: 230px;

}

#menu{
	float: right;
	margin-top: 50px;
	padding-right: 100px;

}
#menu a{

	font-size: 20px;
	padding: 15px;
	text-decoration: none;
	color: white;
	text-shadow: 0 0 1px white;
	font-family: 'Oswald', sans-serif;
}
footer{
	background: rgba(6,82,221,1);
	background: -moz-linear-gradient(left, rgba(6,82,221,1) 0%, rgba(41,184,229,1) 50%, rgba(41,184,229,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(6,82,221,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(41,184,229,1)));
	background: -webkit-linear-gradient(left, rgba(6,82,221,1) 0%, rgba(41,184,229,1) 50%, rgba(41,184,229,1) 100%);
	background: -o-linear-gradient(left, rgba(6,82,221,1) 0%, rgba(41,184,229,1) 50%, rgba(41,184,229,1) 100%);
	background: -ms-linear-gradient(left, rgba(6,82,221,1) 0%, rgba(41,184,229,1) 50%, rgba(41,184,229,1) 100%);
	background: linear-gradient(to right, rgba(6,82,221,1) 0%, rgba(41,184,229,1) 50%, rgba(41,184,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0652dd', endColorstr='#29b8e5', GradientType=1 );
	
	-webkit-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.39);
	-moz-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.39);
	box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.39);
	clear: both;
	text-align: center;
	min-height: 200px;
}


#linkpe{
	padding-top: 50px;
	padding-left: 130px;
	float: left;
}
#linkpe a{
	font-size: 20px;
	text-decoration: none;
	color: white;
	text-shadow: 0 0 1px white;
	font-family: 'Oswald', sans-serif;
}

footer img{
	float: right;
	padding-right: 100px;
	padding-top: 40px;
}

.botao{
	padding-top: 20px;
}